<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mappers.qna">
	<select id="qnalist" resultType="com.ksm.dto.QnA">
		select
		qseq, subject, content, reply, id, rep, indate
		from qna
		where id= #{id}
	</select>
	<insert id="insert">
		INSERT INTO qna(qseq, subject, content, id)
		VALUES(#{qseq}, #{subject}, #{content}, #{id})
	</insert>
	<select id="detail" resultType="com.ksm.dto.QnA" >
	select
		qseq, subject, content, reply, id, rep, indate
		from qna
		where qseq=#{qseq}
	</select>
	<select id="allList" resultType="com.ksm.dto.QnA">
		select
		qseq, subject, content, reply, id, rep, indate
		from qna
		where rep=0
	</select>
	<update id="reply" parameterType="com.ksm.dto.QnA">
		update qna
		set reply= #{reply},
		rep = 1
		where qseq= #{qseq}
	</update>
</mapper>